body{
    font-family: 'Poppins', sans-serif; 
    background-image: url(images/21.ai);
 }
 h1{
    font-size: 40px;
 }
.color{color: orange;}

.falxible-container{display: flex;
}
.half-width{
    width:50%;
    text-align: justify;
}
.half-width img {
margin-top: 0;
padding-right:0;
height:600px;
width: 500px;
}
a{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px;
    border-radius: 5px;
}
.expration-item{
    width: 40%;
    margin-left:5% ;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
}
#pro-wev-experiance{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice:1;
}
#baby{
    border-left: 7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice:1;
}
 footer{
    margin-top: 50px;
    text-align: center;
 }